<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static './css/stylesheet.css' %}" />
</head>
<body>
<div class="container">
<header></header>
<main>
{% block content %}

{% endblock %}
</main>
<footer>
        <a href="/accounts/login/">login</a><br>
        <a href="/accounts/aanmelden/">aanmelden</a><br>
        <a href="/admin/">admin login</a>
</footer>
</div> 
</body>
</html>